{% extends 'backend/base.html' %}

{% block title %} Edit Product {% endblock %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Edit Product</h1>
    <a href="{% url 'product:list.product' %}" class="float-right btn btn-primary">All Product</a>
</div>

<div id="app">
    <edit-product csrf="{{ csrf_token }}" :variants="{{variants|safe}}" :product_variant_="{{product_variant|safe}}" :product_variant_prices_="{{product_variant_prices|safe}}" product_id="{{product_obj.id}}" product_name="{{product_obj.title}}" product_sku="{{product_obj.sku}}" description="{{product_obj.description}}"></edit-product>
</div>

{% endblock %}